@using GI.BackOffice
@inherits UmbracoViewPage<List<IPublishedContent>>
@{

}
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title">
        <span>
            <span class="text-main-1">Читай</span> Також
        </span>
    </h4>
    <div class="nk-widget-content read-also-content">
        @foreach (var post in Model.Select(x => x as ContentPage))
        {
            if (post == null) continue;

            <div class="nk-widget-post">
                <a href="@post.Url()" class="nk-post-image">
                    <img src="@post.MainImage?.GetCropUrlWebp(ImageCropName.Thumb)" alt="@post.Title">
                </a>
                <h3 class="nk-post-title">
                    <a href="@post.Url()">@post.Title</a>
                </h3>
                <div class="nk-post-date">
                    <span class="fa fa-calendar"></span> @post.CreateDate.ToShortDateString() @post.CreateDate.ToShortTimeString()
                </div>
            </div>
        }
    </div>
</div>