@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;

@using Umbraco.Cms.Core.Models;
@using GI.BackOffice
@inject IUserService UserService;

@{
	Layout = "Master.cshtml";
}

@{
    var homePage = Model.Ancestor<HomePage>();

    var author = Model.Value<int>("author");
    var user = UserService.GetUserById(author);
    var topImage = homePage.Value<MediaWithCrops<Image>>("topImage");
    var bottomImage = homePage.Value<MediaWithCrops<Image>>("bottomImage");

    <img class="nk-page-background-top" src="@topImage?.GetUrlWebp()" alt="">
    <img class="nk-page-background-bottom" src="@bottomImage?.GetUrlWebp()" alt="">

    var summary = Model.MainContent
        ?.Where(x => x?.ContentUdi != null 
                    && x.Content.ContentType.Alias == "summaryTextRow" 
                    && (x.Settings as SummaryTextRowSettings)?.AsPartOfSummary == true)
        .ToList();
        
}

<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        <li><span>@Model.Value("title")?.ToString()</span></li>
    </ul>
</div>
<!-- Main Content-->
<div class="nk-gap-1"></div>
<div class="container">
    <div class="row vertical-gap">


        <div class="col-lg-8">

            <div class="nk-blog-post nk-blog-post-single">
                <!-- START: Post Text -->
                <div class="nk-post-text mt-0">
                    <div class="nk-post-img">
                        @{
                            var postImage = Model.Value<MediaWithCrops<Image>>("mainImage");

                            <img src="@postImage?.GetUrlWebp()" alt="@Model.Value("title")?.ToString()">
                        }
                    </div>
                    <div class="nk-gap-1"></div>
                    <h1 class="nk-post-title h4">@Model.Value("title")?.ToString()</h1>
                    <div class="nk-post-by">
                        <img src="/media/@user?.Avatar" alt="@user?.Name" class="rounded-circle" width="35"> by <a href="#">@user?.Name</a> in @Model.CreateDate
                        <div class="nk-post-categories">
                            @foreach (var tag in Model.Value<IEnumerable<string>>("tags"))
                            {
                                <span class="bg-main-1">@tag</span>
                            }
                        </div>
                    </div>

                    @await Html.GetBlockListHtmlAsync(Model.MainContent)

                </div>
            </div>
        </div>
        
        <div class="col-lg-4 nk-sidebar-sticky-parent">
            <!--
            START: Sidebar

            Additional Classes:
            .nk-sidebar-left
            .nk-sidebar-right
            .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky">

            @* ReSharper disable once Mvc.PartialViewNotResolved *@
            @await Html.PartialAsync("sidebar/tableOfContent", summary)
            
            @if (Model.ListOfContent != null && Model.ListOfContent.Any())
            {
                
                @* ReSharper disable once Mvc.PartialViewNotResolved *@
                @await Html.PartialAsync("sidebar/readAlso", Model.ListOfContent)

            }

            </aside>
            <!-- END: Sidebar -->

        </div>
    </div>
</div>
