@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (AccordionRow)Model.Content;
    var settings = (AccordionRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
    if(row.AccordionItems == null || !row.AccordionItems.Any()) return;
    var accordionId = "accordion-" + row.Key;
}

<!-- START: Accordion 1 -->

<div class="nk-gap"></div>
<h3 class="text-main-1">@row.Title</h3>

@if (!string.IsNullOrEmpty(@row.Description))
{
    <h2>@row.Description</h2>
}

<div class="nk-gap"></div>
<div class="nk-accordion" role="tablist" aria-multiselectable="true" id="@accordionId">
    @{
        var index = 0;
        foreach(var item in row.AccordionItems)
        {
            var rowItem = (AccordionItem)item.Content;
            var rowContent = rowItem.ContentList;
            var rowSettings = (AccordionItemSettings)item.Settings;
            if (rowSettings.Hide) continue;
            
            if (string.IsNullOrWhiteSpace(rowItem.Title) 
               || rowContent == null
               || !rowContent.Any()) continue;

            var show = index == 0;
            var headingId = accordionId + "-heading-" + index;
            var collapseId = accordionId + "-collapse-" + index;

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@headingId">
                    <a class="collapsed" data-toggle="collapse" data-parent="#@collapseId" href="#@collapseId" aria-expanded="@show" aria-controls="@collapseId">
                        @rowItem.Title <span class="panel-heading-arrow fa fa-angle-down"></span>
                    </a>
                </div>
                <div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
                    @foreach (var block in rowContent)
                    {
                        if (block?.ContentUdi == null) { continue; }
                        var data = block.Content;

                        @await Html.PartialAsync("blocklist/Components/" + data.ContentType.Alias, block)
                        
                        <div class="nk-gap"></div>
                        if (data.ContentType.Alias == "carouselRow")
                        {
                            // additional gap for carousel
                            <div class="nk-gap"></div>
                        }
                    }
                </div>
            </div>

            index++;
        }
    }

</div>
<!-- END: Accordion 1 -->
