@using Umbraco.Cms.Core.Models
@using GI.BackOffice
@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (CarouselRow)Model.Content;
    var settings = (CarouselRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
    if (row.CarouselItems == null || !row.CarouselItems.Any()) return;

    var carouselId = $"carousel_{row.Key:N}";
}


<!-- START: Image Slider -->
<div class="image-carousel" data-flickity='{ "lazyLoad": true, "lazyLoad": 1, "draggable": false}' id="@carouselId">

    @foreach (var item in row.CarouselItems.Select(x => x as BlockListItem<CarouselItem, CarouselItemSettings>))
    {
        var mainImage = item.Content.Image;
        
        <div class="carousel-cell">
            @{
                if (mainImage != null)
                {
                    <a href="@mainImage.GetUrlWebp()" 
                       data-pswp-width="@mainImage.GetProperty("umbracoWidth")?.GetValue()" 
                       data-pswp-height="@mainImage.GetProperty("umbracoHeight")?.GetValue()">
                        <img src="@mainImage.GetUrlWebp()" data-flickity-lazyload="@mainImage.GetUrlWebp()" alt="test" class="carousel-cell-image">
                    </a>
                }
            }

        </div>
    }

</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#@carouselId',
            children: 'div > a',
            pswpModule: () => PhotoSwipe,
            showHideAnimationType: 'fade',
        });

        lightbox.init();
    })
</script>

<!-- END: Image Slider -->
