@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (QuoteRow)Model.Content;
    var settings = (QuoteRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
}

<!-- START: Blockquote -->
<blockquote class="nk-blockquote" cite="@row.CiteLink?.Url">
    <div class="nk-blockquote-icon"><span>"</span></div>
    <div class="nk-blockquote-content @(settings?.TextAlignment ?? "text-start")">
        @row.QuoteText
    </div>
    @if(!string.IsNullOrWhiteSpace(row.QuoteAuthor))
    {
        <div class="nk-blockquote-author">
            <span>
                @row.QuoteAuthor
                @if (!string.IsNullOrWhiteSpace(row.AuthorJobTitle))
                {
                    <cite>@row.AuthorJobTitle</cite>
                }
            </span>
        </div>
    }
</blockquote>
<!-- END: Blockquote -->
