@using GI.BackOffice
@using Umbraco.Cms.Core.Services;

@inject IUserService UserService;

@inherits UmbracoViewPage<IEnumerable<IPublishedContent>>

        
@foreach (var article in Model.Select(x => x as ContentPage))
{
    if (article == null) continue;

    var author = (int)article.Author;
    var user = UserService.GetUserById(author);
    
    <div class="col-md-6">
        <!-- START: Post -->
        <div class="nk-blog-post">
            <a href="@article.Url()" class="nk-post-img">
                <img src="@article.MainImage?.GetCropUrlWebp(ImageCropName.Preview)" alt="@article.Url()">
                <!--<span class="nk-post-comments-count">4</span>-->
            </a>
            <div class="nk-gap"></div>
            <h2 class="nk-post-title h4">
                <a href="@article.Url()">@article.Title</a>
            </h2>
            <div class="nk-post-by">
                <img src="/media/@user?.Avatar" alt="@user?.Name" class="rounded-circle" width="35"> by 
                <a href="/author/@user.Id">
                    @user?.Name
                </a> in @article.CreateDate
            </div>
            <div class="nk-gap"></div>
            <div class="nk-post-text">
                <p>@article.SubTitle</p>
            </div>
            <div class="nk-gap"></div>
            <a href="@article.Url()" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">
                Read More
            </a>
        </div>
        <!-- END: Post -->
    </div>

}