@using Umbraco.Cms.Core.Models
@using GI.BackOffice
@inherits UmbracoViewPage<IEnumerable<IPublishedContent>>

@{
    var selection = Model;
}

<div class="nk-news-box">
    <div class="nk-news-box-list">
        <div class="nano">
            <div class="nano-content">
                @foreach (var item in selection)
                {
                    var mainImage = item.Value<MediaWithCrops<Image>>("mainImage");

                    <div class="nk-news-box-item nk-news-box-item-active">
                        <div class="nk-news-box-item-img">
                            @{
                                if (mainImage != null)
                                {
                                    <img src="@mainImage.GetCropUrlWebp(ImageCropName.Quadratic)" alt="@item.Name()" />
                                }
                            }
                        </div>
                        @{
                            if (mainImage != null)
                            {
                                <img src="@mainImage.GetUrlWebp()" alt="@item.Name()" class="nk-news-box-item-full-img" />
                            }
                        }
                        <h3 class="nk-news-box-item-title">@Html.Truncate(item.Value("title").ToString(), 26, true)</h3>
                        
                        <!--
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">MMO</span>
                        </span>
                        -->

                        <div class="nk-news-box-item-text">
                            <p>@Html.Truncate(item.Value("subtitle").ToString(), 200, true)</p>
                        </div>

                        <a href="@item.Url()" class="nk-news-box-item-url">Read More</a>

                        <div class="nk-news-box-item-date">
                            <span class="fa fa-calendar"></span> 
                            @item.CreateDate
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="nk-news-box-each-info">
        <div class="nano">
            <div class="nano-content">
                <!-- There will be inserted info about selected news-->
                @{
                    var firstItem = selection.LastOrDefault();
                    var firstItemMainImage = firstItem.Value<MediaWithCrops<Image>>("mainImage");
                    
                    <div class="nk-news-box-item-image">
                        <img src="@firstItemMainImage.GetUrlWebp()" alt="@firstItem.Name()">
                        <!--
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">MMO</span>
                        </span>
                        -->
                    </div>
                    <h3 class="nk-news-box-item-title">@Html.Truncate(firstItem.Value("title").ToString(), 26, true)</h3>
                    <div class="nk-news-box-item-text">
                        <p>@Html.Truncate(firstItem.Value("subtitle").ToString(), 200, true)</p>
                    </div>
                    <a href="@firstItem.Url()" class="nk-news-box-item-more">Read More</a>
                    <div class="nk-news-box-item-date">
                        <span class="fa fa-calendar"></span>
                        @firstItem.CreateDate
                    </div>
                }
            </div>
        </div>
    </div>
</div>
