@using Umbraco.Cms.Core.Models
@using GI.BackOffice
@inherits UmbracoViewPage<IEnumerable<IPublishedContent>>

@{
    var selection = Model;
}

<div class="nk-news-box">
    <div class="nk-news-box-list">
        <div class="nano">
            <div class="nano-content">
                @foreach (var item in selection)
                {
                    var mainImage = item.Value<MediaWithCrops<Image>>("mainImage");

                    <div class="nk-news-box-item nk-news-box-item-active">
                        <div class="nk-news-box-item-img">
                            @{
                                if (mainImage != null)
                                {
                                    <img src="@mainImage.GetCropUrlWebp(ImageCropName.Thumb)" alt="@item.Name()" />
                                }
                            }
                        </div>
                        @{
                            if (mainImage != null)
                            {
                                <img src="@mainImage.GetCropUrlWebp(ImageCropName.FeaturedPreview)" alt="@item.Name()" class="nk-news-box-item-full-img" />
                            }
                        }
                        <h3 class="nk-news-box-item-title">@item.Value("title").ToString()</h3>
                        
                        <div class="nk-news-box-item-text" style="display: none">
                            <p>@Html.Truncate(item.Value("subtitle").ToString(), 200, true)</p>
                        </div>
                        <!--
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">MMO</span>
                        </span>
                        -->

                        <div class="nk-news-box-item-date">
                            <span class="fa fa-calendar"></span>
                            @item.CreateDate.ToShortDateString() @item.CreateDate.ToShortTimeString()
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="nk-news-box-each-info">
        <div class="nano">
            <div class="">
                <!-- There will be inserted info about selected news-->
                @{
                    var firstItem = selection.LastOrDefault();
                    var firstItemMainImage = firstItem.Value<MediaWithCrops<Image>>("mainImage");
                    
                    <div class="nk-news-box-item-image">
                        <img src="@firstItemMainImage.GetCropUrlWebp(ImageCropName.FeaturedPreview)" alt="@firstItem.Name()" />
                        <!--
                        <span class="nk-news-box-item-categories">
                            <span class="bg-main-4">MMO</span>
                        </span>
                        -->
                    </div>
                    <div class="description">
                        <h3 class="nk-news-box-item-title">@firstItem.Value("title")</h3>
                        <div class="nk-news-box-item-text">
                            <p>@firstItem.Value("subtitle")</p>
                        </div>
                        <div class="read-more">

                            <a href="@firstItem.Url()" class="nk-news-box-item-more">Читати далі</a>
                            <div class="nk-news-box-item-date">
                                <span class="fa fa-calendar"></span>
                                @firstItem.CreateDate.ToShortDateString() @firstItem.CreateDate.ToShortTimeString()
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
